.ag-hero-section-1 {
	padding: 260px 0px 335px;
	background-color: #181818;
	@media #{$md,$sm,$xs} {
		padding: 230px 0px 60px;
	}
	@media #{$xxs} {
		padding: 200px 0px 50px;
	}
}
.ag-hero-title-1 {
	.hero_title {
		color: #fff;
		font-size: 90px;
		max-width: 995px;
		margin-left: 20px;
		line-height: 1.3;
		@media #{$xl} {
			font-size: 80px;
			max-width: 950px;
		}
		@media #{$lg,$md,$sm,$xs} {
			margin: 0 auto;
		}
		@media #{$md} {
			font-size: 70px;
		}
		@media #{$sm,$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 45px;
		}
		@media #{$xxxs} {
			font-size: 40px;
		}
		span {
			@extend%gradient-text;
		}
	}
}
.hero-cricle-counter {
	right: 0;
	top: 30px;
	width: 190px;
	height: 190px;
	position: absolute;
	background-color: #fff;
	border-radius: 100%;
	border-top-left-radius: 0;
	@media #{$lg,$md,$sm,$xs} {
		margin: 0 auto;
		position: static;
		margin-bottom: 30px;
	}
	.graph-outer {
		.count-box {
			top: 40px;
			left: 25px;
			width: 100px;
			height: 50px;
			display: flex;
			color: #000000;
			font-size: 26px;
			font-weight: 900;
			position: absolute;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			.count-text {
				color: #000;
				transform:  translate(0) !important;
			}
		}
	}
	.prog-text {
		left: 0;
		right: 0;
		bottom: 45px;
		font-size: 16px;
		font-weight: 700;
		position: absolute;
	}
}
.ag-hero-text-wrap-1 {
	padding-bottom: 120px;
	@media #{$sm,$xs} {
		padding-bottom: 50px;
	}
	.ag-hero-shape-1 {
		bottom: 0;
		left: 115px;
		@media #{$xxl,$xl} {
			left: 15px;
		}
		@media #{$xl} {
			width: 290px;
		}
		@media #{$lg,$md,$sm,$xs} {
			display: none;
		}
	}
}
.ag-hero-service {
	margin: 0 auto;
	height: 595px;
	max-width: 1650px;
	@media #{$sm,$xs} {
		height: auto;
	}
}
.ag-hero-ser-slide {
	padding-top: 50px;
	@media #{$sm,$xs} {
		padding-top: 0;
	}
}
.ag-hero-service-item {
	width: 415px;
	height: 435px;
	overflow: hidden;
	transition: all 700ms ease;
	@media #{$sm,$xs} {
		width: auto;
		height: auto;
		margin: 0 auto;
		max-width: 524px;
	}
	.item-img {
		height: 100%;
		width: 100%;
		margin: 0 auto;
		max-width: 524px;
		overflow: hidden;
		position: relative;
		border-radius: 0px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&:before {
			left: -35px;
			content: "";
			width: 111%;
			height: 34%;
			bottom: -300px;
			position: absolute;
			background-repeat: no-repeat;
			transition: all 500ms ease;
			background-image: url(../img/hero/shape1.png);
			@media #{$sm,$xs} {
				bottom: 0px;
			}
		}
	}
	.item-text {
		left: 45px;
		bottom: 35px;
		position: absolute;
		@media #{$sm,$xs} {
			left: 20px;
		}
		span {
			color: #fff;
			font-size: 18px;
			font-weight: 700;
			overflow: hidden;
			position: relative;
			display: inline-block;
			a {
				display: inline-block;
				position: relative;
				padding-left: 25px;
				transform: translateY(30px);
				@media #{$sm,$xs} {
					transform: translateY(0px);
				}
				&:before,
				&:after {
					left: 0;
					top: 7px;
					width: 8px;
					height: 8px;
					content: '';
					border-radius: 100%;
					position: absolute;
					background: var(--ag-gradient);
				}
				&:after {
					left: 9px;
					width: 10px;
					height: 10px;
				}
			}
		}
		h3 {
			color: #fff;
			font-size: 30px;
			overflow: hidden;
			@media #{$xxs} {
				font-size: 24px;
			}
			a {
				display: inline-block;
				transform: translateY(45px);
				@media #{$sm,$xs} {
					transform: translateY(0px);
				}
			}
		}
	}
}
.swiper-slide-next {
	z-index: 2;
	.ag-hero-service-item {
		z-index: 1;
		height: 545px;
		width: 524px;
		border-radius: 10px;
		transform: translateY(-50px) translateX(-60px);
		@media #{$sm,$xs} {
			width: auto;
			height: auto;
			margin: 0 auto;
			border-radius: 0;
			text-align: center;
			transform: translateY(0px) translateX(0px);
		}
		.item-img {
			&:before {
				left: -35px;
				content: "";
				width: 111%;
				height: 34%;
				bottom: 0px;
				position: absolute;
				background-repeat: no-repeat;
				transition: all 500ms ease;
				background-image: url(../img/hero/shape1.png);
			}
		}
		.item-text{
			span {
				a {
					transform: translateY(0px);
					transition-delay: 400ms;
				}
			}
			h3 {
				a {
					transform: translateY(0px);
					transition-delay: 400ms;
				}
			}
		}
	}

}