.ag-portfolio-section {
	z-index: 1;
	overflow: hidden;
}
.ag-portfolio-shape {
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 975px;
	max-height: 975px;
	position: absolute;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: url(../img/shape/bg-shape.png);
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	@media #{$lg,$md,$sm,$xs} {
		height: 100%;
		max-height: 100%;
		mask-image: none;
	}
}
.ag-portfolio-top-content {
	.ag-section-title {
		max-width: 540px;
		.sec_title {
			color: #fff;
		}
		p {
			color: #fff;
		}
	}
}
.ag-p-filter-btn {
	max-width: 580px;
	button {
		z-index: 1;
		color: #fff;
		border: none;
		margin: 10px 6px;
		font-size: 20px;
		font-weight: 500;
		overflow: hidden;
		position: relative;
		padding: 20px 30px;
		border-radius: 100px;
		border: 1px solid #a0a0a0;
		background-color: transparent;
		transition: all 500ms ease;
		@media #{$lg,$md,$sm,$xs} {
			padding: 12px 24px;
		}
		&:before {
			top: 0;
			left: 0;
			z-index: -1;
			width: 0%;
			content: '';
			height: 100%;
			position: absolute;
			border-radius: 100px;
			transition: 500ms var(--cube-1);
			background: var(--ag-gradient);
			background-size: 200%, 1px;
		}
		i {
			margin-right: 10px;
		}
		&.is-checked {
			border: 1px solid transparent;
			&:before {
				width: 100%;
			}
		}
	}
}
.p-filter-area {
	margin: 0 -4px;
	.grid-sizer {
		width: 33.33%;
		@media #{$lg,$md} {
			width: 50%;
		}
		@media #{$sm,$xs} {
			width: 100%;
		}
	}
	.grid-item {
		float: left;
		padding: 4px;
		display: inline-block;
	} 
	.grid-size-33 {
		width: 33.33%;
		@media #{$lg,$md,$sm,$xs} {
			width: 50%;
		}
		@media #{$sm,$xs} {
			width: 100%;
		}
	}
}
.ag-p-item-1 {
	overflow: hidden;
	&:before {
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		content: '';
		position: absolute;
		transition: all 500ms ease-in-out;
		background-color: rgba(0, 0, 0, .6);
	}
	.item-img {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.item-text {
		left: 25px;
		bottom: 30px;
		position: absolute;
		span {
			opacity: 0;
			color: #fff;
			display: block;
			font-size: 16px;
			font-weight: 600;
			visibility: hidden;
			text-transform: uppercase;
			transform: translateX(20px);
			transition: 800ms var(--cube-1);
		}
		.port_title {
			opacity: 0;
			color: #fff;
			font-size: 30px;
			padding-top: 5px;
			visibility: hidden;
			transform: translateX(-20px);
			transition: 800ms var(--cube-1);
			@media #{$sm,$xs} {
				font-size: 26px;
			}
			@media #{$xxs} {
				font-size: 24px;
			}
		}
	}
	&:hover {
		&:before {
			opacity: 1;
		}
		.item-text {
			span {
				opacity: 1;
				visibility: visible;
				transform: translateX(0px);
				transition-delay: 400ms;
			}
			.port_title {
				opacity: 1;
				visibility: visible;
				transform: translateX(0px);
				transition-delay: 500ms;
			}
		}
	}
}