.ag-header-section {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 8;
	position: absolute;
	.navbar-nav {
		flex-direction: row;
	}
	&.header_style_one {
		padding-top: 70px;
		@media #{$md,$sm,$xs} {
			padding-top: 30px;
		}
		.ag-header-content {
			padding: 0px 60px;
			@media #{$md,$sm,$xs} {
				padding: 0px 20px;
			}
			.header-action {
				gap: 30px;
				button {
					padding: 0;
					border: none;
					background-color: transparent;
				}
				.search-btn {
					color: #fff;
					@media #{$md,$sm,$xs} {
						display: none;
					}
				}
				.ofcanvas-btn-area {
					width: 50px;
					height: 50px;
					border-radius: 100%;
					background: var(--ag-gradient);
					background-size: 200%, 1px;
					@media #{$md,$sm,$xs} {
						display: none !important;
					}
					.ofcanvas-btn {
						width: 25px;
						height: 25px;
						span {
							width: 10px;
							height: 10px;
							float: left;
							margin: 1px;
							border-radius: 100%;
							display: inline-block ;
							background-color: #fff;
							border: 2px solid #000;
						}
					}

				}
				.cta-btn {
					@media #{$sm,$xs} {
						display: none !important;
					}
					a {
						color: #fff;
						font-size: 20px;
						font-weight: 600;
						padding: 18px 40px;
						border-radius: 50px;
						background: var(--ag-gradient);
						background-size: 200%, 1px;
						span {
							position: relative; 
							display: inline-block;
							&:before {
								left: 0;
								width: 0%;
								content: '';
								bottom: 3px;
								height: 1px;
								position: absolute;
								background-color: #fff;
								transition: all 500ms ease;
							}
						}
						i {
							transform: rotate(-45deg);
							transition: all 500ms ease;
						}
						&:hover {
							span {
								&:before {
									width: 100%;
								}
							}
							i {
								transform: rotate(0deg);
								transition-delay: 200ms;
							}
						}
					}
				}
			}
		}
		.mobile-menu-btn {
			span {
				background-color: #fff;
			}
		}
	}
	&.header_style_two {
		.ag-header-content {
			padding: 50px 60px 0px;
			@media #{$xxl} {
				padding: 30px 30px 0px;
			}
			@media #{$xl,$lg,$md,$sm,$xs} {
				padding: 30px 15px 0px;
			}
			.main-navigation {
				@media #{$md,$sm,$xs} {
					display: none;
				}
				li {
					color: #fff;
					font-weight: 900;
					margin: 0px 35px;
					@media #{$xxl} {
						margin: 0px 25px;
					}
					@media #{$xl,$lg} {
						margin: 0px 15px;
					}
				}
			}
			.ag-header-action {
				gap: 20px 55px;
				@media #{$xxl} {
					gap: 20px 25px;
				}
				@media #{$xl,$lg,$md,$sm,$xs} {
					gap: 20px 15px;
				}
				.search-btn {
					color: #fff;
					padding: 0;
					border: none;
					background-color: transparent;
				}
				.header-cta {
					gap: 16px;
					max-width: 215px;
					@media #{$xl} {
						gap: 10px;
						max-width: 180px;
					}
					@media #{$lg,$md,$sm,$xs} {
						display: none !important;
					}
					.item-icon {
						width: 50px;
						height: 50px;
						border-radius: 100%;
						background-color: #fff;
						@media #{$xl} {
							width: 40px;
							height: 40px;
							font-size: 14px;
						}
						i {
							@extend%gradient-text;
						}
					}
					.item-text {
						display: flex;
						flex-wrap: wrap;
						max-width: 142px;
						@media #{$xl} {
							max-width: 120px;
						}
						span {
							font-size: 13px;
							font-weight: 700;
							display: inline-block;
							@extend%gradient-text;
						}
						a {
							width: 100%;
							color: #fff;
							display: block;
							font-weight: 700;
							@media #{$xl} {
								font-size: 14px;
							}
						}
					}
				}
				.cta-btn {
					@media #{$md,$sm,$xs} {
						display: none;
					}
					a {
						color: #fff;
						font-size: 16px;
						font-weight: 800;
						padding: 20px 30px;
						border-radius: 50px;
						letter-spacing: -1px;
						white-space: nowrap;
						background: var(--ag-gradient);
						background-size: 200%, 1px;
						@media #{$xl,$lg} {
							padding: 15px 20px;
						}

					}
				}
			}
			.mobile_menu_button {
				margin-left: 5px;
				span {
					background-color: #fff;
				}
			}
		}
	}
	&.header_style_four {
		padding-top: 38px;
		@media #{$xs} {
			padding-top: 20px;
		}
		.ag-header-content {
			z-index: 1;
			position: relative;
			border-radius: 12px;
			background-color: #fff;
			&:before,
			&:after  {
				left: 0;
				right: 0;
				top: -8px;
				width: 85%;
				z-index: -1;
				content: '';
				height: 114%;
				margin: 0 auto;
				border-radius: 12px;
				position: absolute;
				background: linear-gradient(180deg, #5956F0 0%, #FF50B8 100%);
				@media #{$md,$sm,$xs} {
					display: none;
				}
			}
			&:after {
				top: 0;
				width: 100%;
				height: 100%;
				background: #fff;
			}
		}
		.header-top {
			padding: 15px 40px;
			@media #{$md,$sm,$xs} {
				padding: 15px 20px;
			}
		}
		.header-cta-wrap {
			gap: 10px 65px;
			@media #{$md,$sm,$xs} {
				display: none !important;
			}
			.cta-item {
				gap: 12px;
				position: relative;
				&:before {
					top: 3px;
					width: 1px;
					content: '';
					right: -32px;
					height: 32px;
					position: absolute;
					background-color: #E7E7E7;
				}
				.item-icon {
					width: 40px;
					height: 40px;
					border-radius: 100%;
					border: 1.5px solid #5E56EF;
				}
				.item-text {
					font-weight: 600;
					color: var(--ag-title-color);
				}
			}
			.cta-btn {
				padding: 2px;
				border-radius: 6px; 
				background: var(--ag-gradient); 
				background-size: 200%, 1px;
				a {
					display: flex;
					font-size: 16px;
					font-weight: 600;
					background: #fff; 
					padding: 10px 30px; 
					border-radius: 4px; 
					align-items: center;
					white-space: nowrap;
					justify-content: center;
					span {
						letter-spacing: -1px;
						@extend%gradient-text;
					}
				}
			}
		}
		.header-bottom {
			border-top: 1px solid #E7E7E7;
			@media #{$md,$sm,$xs} {
				display: none !important;
			}
		}
		.main-navigation {
			li {
				padding: 10px 40px;
				border-right: 1px solid #E7E7E7;
				@media #{$lg} {
					padding: 10px 30px;
				}
				a {
					font-size: 16px;
					font-weight: 600;
					color: var(--ag-title-color);
				}
			}
		}
		.search-ofcanvas {
			.ag-hd-search {
				height: 100%;
				width: 150px;
				input {
					width: 100%;
					height: 100%;
					border: none;
					color: #261723;
					font-size: 16px;
					padding-left: 26px;
					&::placeholder {
						color: #261723;
						font-size: 16px;
					}
				}
				button {
					top: 0;
					left: 0;
					padding: 0;
					border: none;
					position: absolute;
					background-color: transparent;
				}
			}
			.off-canvas-btn {
				width: 48px;
				height: 48px;
				border-bottom-right-radius: 12px;
				background: var(--ag-gradient);
				background-size: 200%, 1px;
			}
			.canvas-trigger {
				padding: 0;
				width: 27px;
				height: 27px;
				border: none;
				background-color: transparent;
				@media #{$md,$sm,$xs} {
					display: none;
				}
				span {
					width: 5px;
					height: 5px;
					float: left;
					margin: 2px;
					position: relative;
					border-radius: 50px;
					display: inline-block;
					transition: all 500ms ease;
					background: #fff;
				}
				&:hover {
					span {
						background: #fff;
					}
					span:nth-child(1){
						transform:translateX(9px);
					}
					span:nth-child(2){
						transform:translateX(9px);
					}
					span:nth-child(3){
						transform:translateY(9px);
					}
					span:nth-child(6){
						transform:translateY(9px);
					}
					span:nth-child(9){
						transform:translateX(-9px);
					}
					span:nth-child(8){
						transform:translateX(-9px);
					}
					span:nth-child(7){
						transform:translateY(-9px);
					}
					span:nth-child(4){
						transform:translateY(-9px);
					}
				}
			}
		}
	}
}
/*// Mobile Menu style*/
/*----------------------------------------------------*/
.mobile_logo {
	top: 10px;
	left: 15px;
	display: none;
	position: absolute;
}
.mobile_menu_content {
	top: 0px;
	bottom: 0;
	left: -350px;
	height: 100vh;
	z-index: 101;
	position: fixed;
	width: 310px;
	overflow-y: scroll;
	background-color: #0f0d0d;
	padding: 20px 35px 35px 35px;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, .19);
	transition: all 0.5s ease-in;
	&.ver_2 {
		overflow-y: hidden;
	}
	.mobile-main-navigation {
		width: 100%;
		.navbar-nav {
			width: 100%;
		}
	}
	.dropdown:after {
		display: none;
	}
	.navbar-nav .dropdown-menu {
		position: static !important;
		transform: none !important;
	}
	.mobile-main-navigation .navbar-nav li {
		width: 100%;
		display: block;
		transition: .3s all ease-in-out;
		a {
			padding: 0;
			width: 100%;
			color: #fff;
			display: block;
			font-weight: 600;
			font-size: 14px;
			font-family: var(--heading);
			text-transform: uppercase;
			padding: 10px 30px 10px 0;
		}
	}
	.m-brand-logo {
		width: 120px;
		margin: 50px auto;
	}
}
.mobile_menu_wrap.mobile_menu_on .mobile_menu_content {
	left: 0px;
	transition: all 0.7s ease-out;
}
.mobile_menu_overlay {
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	right: 0%;
	height: 120vh;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, .9);
	transition: all .5s ease-in-out;
}
.mobile_menu_overlay_on {
	overflow: hidden;
}
.mobile_menu_wrap.mobile_menu_on .mobile_menu_overlay{
	opacity: 1;
	visibility: visible;
}
.mobile_menu_button {
	right: 0px;
	z-index: 5;
	padding: 0;
	border: none;
	display: none;
	font-size: 24px;
	cursor: pointer;
	margin-left: 20px;
	line-height: 38px;
	text-align: center;
	background-color: transparent;
	span {
		width: 30px;
		height: 2px;
		display: block;
		margin-bottom: 5px;
		background-color: var(--ag-title-color);
		&:nth-child(2) {
			width: 25px;
		}
		&:last-child {
			width: 20px;
			margin-bottom: 0;
		}
	}
	@media #{$md,$sm,$xs} {
		display: block;
	}
}
.mobile_menu{
	.mobile-main-navigation .navbar-nav li a:after {
		display: none;
	}
	.mobile-main-navigation .dropdown > .dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
	.mobile_menu_content .mobile-main-navigation .navbar-nav {
		.dropdown-menu {
			border: none;
			display: none;
			transition: none;
			box-shadow: none;
			padding: 5px 0px;
			width: 100%;
			background-color: transparent;
			li {
				border: none;
				padding: 0 10px;
				line-height: 1;
				&:hover {
					background-color: transparent;
				}
				a {
					color: #fff !important;
					&:hover {
						color: var(--base-color);
						background-color: transparent;
					}
				}
			}
		}
	}
	.dropdown {
		position: relative;
		.dropdown-btn {
			color: #9397a7;
			position: absolute;
			top: 0px;
			right: 0;
			cursor: pointer;
			width: 30px;
			font-size: 16px;
			height: 30px;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5px;
			background-color: #1c1c1c;
			&.toggle-open {
				transform: rotate(90deg);
			}
		}
	}
	.mobile_menu_close {
		top: 25px;
		right: 25px;
		cursor: pointer;
		color: #d60606;
		font-size: 20px;
		position: absolute;
	}
	.mobile-search-bar {
		overflow: hidden;
		border-radius: 5px;
		margin-bottom: 40px;
		input {
			color: #fff;
			width: 100%;
			height: 50px;
			border: none;
			font-size: 14px;
			padding-left: 15px;
			border-radius: 5px;
			border-bottom: none;
			background-color: #2d2d2d;
			&::placeholder {
				color: #fff;
				font-size: 14px;
			}
		}
		button {
			top: 0;
			right: 0;
			color: #000;
			padding: 0;
			width: 50px;
			height: 50px;
			border: none;
			position: absolute;
			background: var(--mt-gradient);
		}
	}
	.ptx-mobile-header-social {
		margin-top: 40px;
		a {
			color: #fff;
			margin: 0px 8px;
			font-size: 15px;
			&:hover {
				color: #4400E7;
			}
		}
	}

}