.ag-counter-content-2 {
	gap: 30px 85px;
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px 40px;
	}
	h2 {
		font-size: 50px;
		max-width: 420px;
		color: var(--ag-title-color);
		@media #{$md,$sm,$xs} {
			font-size: 45px;
			text-align: center;
		}
		@media #{$xxs} {
			font-size: 35px;
		}
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.ag-counter-item-wrap {
	gap: 30px 85px;
	@media #{$lg,$md,$sm,$xs} {
		gap: 30px 40px;
	}
	@media #{$md,$sm,$xs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.ag-counter-item-2 {
	h3 {
		line-height: 1;
		font-size: 90px;
		padding-bottom: 5px;
		color: var(--ag-title-color);
		@media #{$md,$sm,$xs} {
			font-size: 70px;
		}
		@media #{$xs} {
			font-size: 55px;
			text-align: center;
		}
		@media #{$xxs} {
			font-size: 45px;
		}
	}
	p {
		font-size: 20px;
	}
}