.ag-hero-section-2 {
	z-index: 1;
	overflow: hidden;
	padding: 320px 0px 120px;
	background-color: #000000;
	.ag-hero-pattern {
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0.04;
	}
}
.ag-hero-text-2 {
	max-width: 1100px;
	padding-left: 75px;
	.hero_exp {
		top: 15px;
		right: 0;
		width: 170px;
		height: 170px;
		position: absolute;
		border-radius: 100%;
		transform: scale(0);
		background: var(--ag-gradient);
		background-size: 200%, 1px;
		transition: 1s var(--cube-1);
		h3 {
			color: #fff;
			line-height: 1;
			font-size: 60px;
			font-weight: 900;
			font-family: var(--ag-body-font);
			span {
				font-size: 30px;
				font-weight: 300;
			}
		}
		p {
			color: #fff;
			line-height: 1;
			max-width: 100px;
			font-weight: 600;
		}
	}
	.hero_title {
		color: #fff;
		font-size: 180px;
		line-height: 1.04;
		span {
			position: relative;
			display: inline-block;
			div {
				@extend%gradient-text;
			}
			&:before {
				left: 0;
				bottom: 0;
				width: 0%;
				height: 6px;
				content: '';
				position: absolute;
				background: var(--ag-gradient);
				background-size: 200%, 1px;
				transition: 1s var(--cube-1);
			}
		}
		
	}
	&.active {
		.hero_title {
			span{
				&:before {
					width: 80%;
					transition-delay: 2200ms;
				}
			}
		}
		.hero_exp {
			transform: scale(1);
			transition-delay: 2700ms;
		}
	}
}