.ag-video-play-content {
	width: 100%;
	height: 890px;
	.video-play-btn {
		top: 50%;
		left: 0;
		right: 0;
		z-index: 1;
		width: 149px;
		height: 149px;
		padding: 15px;
		margin: 0 auto;
		overflow: hidden;
		position: absolute;
		border-radius: 100%;
		transform: translateY(-50%);
		background: var(--ag-gradient);
		background-size: 200%, 1px;
		.round-text {
			fill: #fff;
			font-weight: 700;
		}
		.hover-arrow {
			left: 0;
			top: 50%;
			right: 0;
			color: #fff;
			font-size: 20px;
			position: absolute;
			text-align: center;
			transform: translateY(-50%);
		}
	}	
}