.mt-career-hero-section {
	z-index: 1;
	overflow: hidden;
	.mt-career-hero-content {
		padding-top: 300px;
		@media #{$md,$sm,$xs} {
			padding: 180px 0px 70px;
		}
		h2 {
			color: #fff;
			font-size: 90px;
			line-height: 1.1;
			font-weight: 700;
			max-width: 1108px;
			@media #{$md,$xs} {
				font-size: 50px;
				text-align: center;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
		}
	}
	&:before {
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 76%;
		content: '';
		position: absolute;
		background-color: #11203E;
		@media #{$lg,$md,$sm,$xs} {
			height: 100%;
		}
	}
	.mt-career-hero-img-text {
		gap: 30px 50px;
		margin-top: 90px;
		@media #{$lg} {
			align-items: center;
		}
		@media #{$md,$sm,$xs} {
			flex-wrap: wrap;
			margin-top: 50px;
			justify-content: center;
		}
		.item-img {
			overflow: hidden;
			border-radius: 20px;
		}
		.item-text {
			max-width: 396px;
			p {
				color: #FFFFFF;
				padding-bottom: 30px;
			}
			.bread_btn {
				color: #22282F;
				padding: 15px 40px;
				border-radius: 40px;
				display: inline-block;
				background: var(--mt-gradient);
				i {
					margin-left: 10px;
				}
			}
		}
	}
}
.ag-cr-feed-item {
	padding: 48px;
	border-radius: 10px;
	margin-bottom: 32px;
	background-color:  #F5F5F5;
	h3 {
		font-size: 28px;
		padding-bottom: 20px;
		color: var(--ag-title-color);
	}
	p {
		padding-bottom: 24px;
	}
	.ag-cr-cate {
		a {
			font-size: 14px;
			font-weight: 500;
			padding: 5px 15px;
			margin-right: 12px;
			border-radius: 30px;
			display: inline-block;
			background-color: #fff;
		}
	}
}
.ag-ca-title {
	z-index: 1;
	position: relative;
	h3 {
		font-size: 60px;
		max-width: 518px;
		color: var(--ag-title-color);
		@media #{$xxs} {
			font-size: 40px;
		}
	}
}
.ag-cb-img-content {
	gap: 30px 60px;
	max-width: 1040px;
	margin-top: -65px;
	@media #{$lg} {
		gap: 30px;
	}
	@media #{$md,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
	@media #{$xxs} {
		margin-top: 30px;
	}
}
.ca-item-text-wrap {
	max-width: 420px;
	padding-top: 46px;
	@media #{$lg} {
		padding-top: 15px;
	}
	.ca-item-area {
		gap: 28px;
		margin-bottom: 50px;
		@media #{$xxs} {
			flex-wrap: wrap;
		}
		&:last-child {
			margin-bottom: 0;
		}
		.item-icon {
			width: 52px;
			height: 52px;
			background-color: #F1F1F1;
		}
		.item-text {
			max-width: 341px;
			@media #{$lg} {
				max-width: 300px;
			}
			h3 {
				font-size: 22px;
				padding-bottom: 18px;
				color: var(--ag-title-color);
			}
		}
	}
}
.ag-career-thumb {
	@media #{$xs,$xxs} {
		height: 350px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		max-height: 185px;
		position: absolute;
		background: linear-gradient(0deg, rgba(6, 6, 6, 0) 0%, #060606 100%);
	}
}
.art-career-details-text {
	h3,h2 {
		color: #22282F;
		font-size: 28px;
		padding-bottom: 20px;
		@media #{$md,$sm,$xs} {
			font-size: 26px;
		}
		@media #{$xxs} {
			font-size: 24px;
		}
	}
	h2 {
		font-size: 40px;
		@media #{$md,$sm,$xs} {
			font-size: 35px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
	}
	p {
		padding-bottom: 25px;
	}
	ul {
		margin-bottom: 25px;
	}
	li {
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;
		&:before {
			left: 0;
			top: 6px;
			width: 15px;
			height: 15px;
			content: '';
			position: absolute;
			border-radius: 100%;
			background-image: url(../img/icon/check.svg);
		}
	}
}
.art-career-apply-info {
	padding: 20px 35px;
	border-radius: 15px;
	background-color: #F9F9F9;
	li {
		gap: 0px 10px;
		flex-wrap: wrap;
		padding: 15px 0px 12px;
		display: flex !important;
		justify-content: space-between;
		border-bottom: 1px solid #E9E9E9;
		.v-tilte {
			color: #261723;
			i {
				color: #6255ED;
				margin-right: 10px;
			}
		}
		.v-value {
			color: #504E4E;
		}
	}
	a {
		color: #fff;
		display: block;
		font-size: 16px;
		font-weight: 600;
		margin-top: 20px;
		padding: 13px 15px;
		border-radius: 30px;
		background: #6255ED;
	}
}
.art-job-apply-content {
	padding: 50px;
	margin: 0 auto;
	max-width: 730px;
	border-radius: 16px;
	border: 1px solid #E9E9E9;
	.sec_title {
		color: #22282F;
		font-size: 32px;
		font-weight: 400;
		padding-bottom: 40px;
	}
	button {
		padding: 0;
		border: none;
		padding: 12px 20px;
		border-radius: 40px;
		background: var(--mt-gradient);
	}
}